<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navbar}}

   <!-- main header  -->
   <div class="main_header">

    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                

                <div class="col-md-6 col-12 main_header_right home_header_right align-items-center">
                  <figure>
                    <img src="images/about.png" alt="Sajan">
                  </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am A<span class="txt_clr"> MERN Stack Devloper</span> and Freelancer</h1>
                    <a href="https://sajan84.github.io/CV2/" target="_blank"><button>About me</button></a>
                </div>
            </div>

        </div>
    </div>
</div>




   <!-- footer  -->
{{>footer}}
  
  
</body>
</html>